{% extends "base.html" %}

{% block head %}
<title>New Post</title>
{% endblock %}


{% block body %}
   <h1 style="text-align:center">EDIT YOUR POSTS</h1>



   <hr>
      <h2>New Post</h2>
      <form action="/posts/edit/{{ post.id }}" method="POST">
         <label for="title">Title:</label> 
         <input class="form-control" type="text" placeholder="Title of the Post" name="title" id='title' aria-label="Title of the Post" value="{{post.title}}">
         <br>
         
         <label for="author">Author:</label> 
         
         <input class="form-control" type="text" placeholder="Name of the Author" name='author' id = 'author' aria-label="Name of the Author" value="{{post.author}}">
         <br>
         
         
         <label for="content">Post:</label>
         <textarea class="form-control" id="content" rows="3" placeholder="Content" name="content" id="content" aria-label="Content" >{{post.content}}</textarea>
         
         <br>
         <input class='btn btn-outline-info' type="submit" value="Post">
      </form>
   <hr>
{% endblock %}